.section-send {
  padding: 2.4rem 0;
  margin-top: 4.8rem;
  font-size: 1.8rem;
}

.form {
  width: 60%;
  margin: 0 auto;
  margin-top: 3rem;
}
input[type="text"],
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 7px;
  margin: 1rem 0;
  border-radius: 3px;
  border: 1px solid #ccc;
}
textarea {
  height: 100px;
}
input[type="checkbox"] {
  margin: 10px 5px 10px 15px;
}

*:focus {
  outline: none;
}
