.footer {
  padding: 2.4rem 0;
  margin-top: 4.8rem;
  font-size: 1.8rem;
  text-align: center;
  background-color: #333;
}
.footer li {
  list-style: none;
  display: inline-block;
  margin: 0 2rem;
  cursor: pointer;
  color: #888;
  transition: color 0.2s;
}
.footer li:hover {
  color: #ddd;
}
.foot {
  margin-top: 3rem;
  color: #888;
}

/**************************/
/* Below 896 */
/**************************/
@media (max-width: 56em) {
  .footer li {
    margin: 0 1rem;
  }
}
/* *********************************** */
/* BELOW 768px 
/* *********************************** */
@media (max-width: 48em) {
  .footer li {
    margin: 0 0.5rem;
  }
}
/* *********************************** */
/* BELOW 432px 
/* *********************************** */
@media (max-width: 27em) {
  .footer .grid {
    grid-template-columns: 1fr;
  }
}
